# environnement actif
ENV=dev

# bases de données
DATABASE_URL_DEV=postgresql://neondb_owner:npg_Hy
2sBSA5rKCU@ep-broad-sun-a4xq2r19-pooler.us-east-1
.aws.neon.tech/neondb?sslmode=require&channel_bin
ding=require

DATABASE_URL_STAGING=postgresql://neondb_owner:np
g_c1BAeDpW6gSX@ep-bold-flower-adxtg5jh-pooler.c-2
.us-east-1.aws.neon.tech/neondb?sslmode=require&c
hannel_binding=require

DATABASE_URL_PROD=postgresql://neondb_owner:npg_3
VxtTSqiYGU9@ep-spring-base-a49xwkwt-pooler.us-eas
t-1.aws.neon.tech/neondb?sslmode=require&channel_
binding=require
